{{
  navbar_menus = [
    [
      'label' => 'Home',
      'url' => ''
    ], [
      'label' => 'Blogs',
      'url' => 'blogs'
    ], [
      'label' => 'About',
      'url' => 'about'
    ], [
      'label' => 'FAQ',
      'url' => 'faq'
    ]
  ]
}}


<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="{{ link to='/' }}">{{ config:app:name }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      Menu <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        {{ foreach:navbar_menus as="key|item" }}
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ link to='/' }}{{ item:url }}">{{ item:label }}</a>
          </li>
        {{ /foreach:navbar_menus }}
        <li class="nav-item" style="display: flex; align-items: center;">
          {{ if not logged_in }}
            <a class="btn btn-primary text-light btn-sm" href="{{ link to='auth/login' absolute='true' }}">
              Login →
            </a>
          {{ else }}
            <a class="btn btn-primary text-light btn-sm" href="{{ link to='cp' absolute='true' }}">
              Statamic →
            </a>
          {{ /if }}
        </li>
      </ul>
    </div>
  </div>
</nav>
